/* Empty class for added channel items */
.channel {

}
/* List item styling */
ul li {
  cursor: pointer;
  background: #F5F5F5;
}
/* Every other field set to a different backgrojund color */
ul li:nth-child(odd) {
  background: #DCDCDC;
}
ul li:hover {
  background: #D3D3D3;
  text-decoration: underline;
}
#current-user {
  font-size: 1.5rem;
}
#change-user {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.25rem;
}
#message-list {
  height: 250px;
  overflow: auto;
}
