{% extends "layout.html" %}
{% block body %}
<h2>Project 2: TODO</h2>
<div>
  <form id="user-form">
    <input id="user-name" autocomplete="off" autofocus placeholder="Enter user name" type="text">
    <input type="submit">
  </form>
  <p>The current user is:</p>
  <div id="current-user">
  </div>
  <div id="channel-list">
    <h6>Please choose channel or create one of your choosing</h6>
    <form id="channel-form">
      <input id="channel-name" autocomplete="off" autofocus placeholder="Channel name" type="text">
      <input type="submit">
    </form>
    <ul id="channel-item">
    </ul>
  </div>
{% endblock %}
