{% extends "layout.html" %}
{% block body %}
<h2 class="text-center">Flack</h2>

  <div class="row">
    <div class="col-6">
      <!--JS added channel below-->
      <div id="current-user">
      </div>
      <div id="change-user">
        For new user, please submit a user name.
      </div>
      <form id="user-form">
        <div class="form-group">
          <label for="user-name">User name</label>
          <input id="user-name" autocomplete="off" autofocus placeholder="Enter user name" type="text">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-6">
      <h6 class="text-center">Channel messages</h6>
      <div id="channel-message-list">
        <ul>
          <!--channel messages appear here-->
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h5>Channels:</h5>
      <ul id="channel-item">
        <li class="channel" data-channel="General">General</li>
        <li class="channel" data-channel="Online Learning">Online Learning</li>
        <!--JS generated channels appear here-->
      </ul>
    </div>
  </div>

    <div class="row">
      <div class="col-6" id="channel-list">
        <form id="channel-form">
          <div class="form-group">
            <label for="user-name">Start a new channel</label>
            <input id="channel-name" autocomplete="off" autofocus placeholder="Channel name" type="text">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <div class="col-6">
        <form id="message-form">
          <div class="form-group">
            <label for="message">Write your message</label>
            <textarea class="form-control rows="3" id="message" autocomplete="off" autofocus></textarea>
            <button type="submit" class="btn btn-info">Send message</button>
          </div>
        </form>
      `</div>

    </div>



{% endblock %}
